@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


  body{
      background-color: var(--Off-white);
      background-image: url(../assets/imagens/atm_single.svg);
      background-size: 40%;
      background-repeat: no-repeat;
      background-position-x: 15%;
      background-position-y: 116%;
      background-color: #A4161A;
  }
  html, body 
{ 
 height: 100%;
 overflow: hidden
}
  
  :root {
    --header-height: 4.5rem;
  
    /* colors */
    --hue: 159;
    /* HSL color mode */
    --base-color: #A4161A;
    --base-color-second: black;
    --base-color-alt: #E5383B;
    --title-color: hsl(var(--hue) 41% 10%);
    --text-color: black;
    --text-color-light: white;
    --body-color: #F9F9F9;
  
    /* fonts */
    --title-font-size: 1.875rem;
    --subtitle-font-size: 1rem;
  
    --title-font: 'Poppins', sans-serif;
    --body-font: 'DM Sans', sans-serif;
  }
.main{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10%;
   
   
}  
h3{
    margin-bottom: 4%;
    text-align: center;
    color: white;
}

form{
    display: flex;
    width: 416px;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: #F9F9F9;
    border-radius: 10px;
    height: 350px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.37);
}
span{
    font-weight: bold;
    font-size: 23px;
    color: white;
}
p{
    color: black;
    
}


.btn{
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 70%;
    height: 12%;
    box-sizing: border-box;
    border-radius: 14px;
    background-color:#E5383B ;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.37);

}
.btn h3{
    font-weight: 600;
    font-size: 18px;
    color: var(--vinho);
}
label{
    margin-right: 56%;
    margin-bottom: -10%;
    color: black;
}
input{
    width: 65%;
    background-color: #f9f9f9;
    padding: 2%;
    outline: 0;
    color: black;
    border-bottom: 1.4px solid black;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
}