@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    color: black;
    text-decoration: none;
    font-family: 'Roboto';
}



header {
    background-color: white;
    width: 100%;
    height: 10vh;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px #A4161A solid;
    margin-bottom: 10%;
    font-weight: 100;
}
nav{
    width: 90%;
    display: flex;
    justify-content: space-between;
}
header ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
} 


header strong {
    font-size: 35px;
}

header i {
    font-size: 20px;
    margin-left: 10vh;
}

footer {
    background-color: black;
    width: 100%;
    height: 15vh;
    margin: 0rem;
    padding: 0rem;
}