@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    color: black;
    text-decoration: none;
    font-family: 'Roboto';
}

header {
    background-color: white;
    width: 100%;
    height: 15vh;
    color: black;
    display: flex;
    align-items: center;
    border-bottom: 2px #A4161A solid;
}
ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav{
    width: 40%;
}
strong {
    font-size: 35px;
    margin-left: 5vh;
}
i {
    font-size: 24px;
    margin-left: 15vh;
}