body{
  margin: 0px;
  height: 0px;
}

html{
  scroll-behavior: smooth;
}
/* ScrollBar */
/* Fundo que corre */
::-webkit-scrollbar-track{

  background-color: #F5F3F4;
  
}
/* Fundo que corre */

::-webkit-scrollbar{
  background:#F5F3F4 ;
  width: 6px;
}
/* Linha que desce */
::-webkit-scrollbar-thumb{
  background-color:#660708 ;
  border-radius: 15px;
}
/* Linha que desce */

/* ScrollBar */


/* Sobre nos */

.nos {
  display: flex;
  margin-top: 0px;
  height: 100vh;
  width: 100%;
  background-color:rgba(22, 26, 29, 0.63);
  justify-content: space-around;
}
.nos img{
  image-rendering: optimizeQuality;
  height: 40rem;
  width: 27rem;
  margin-top: 4rem;
}

.nos h2{
  margin-top: 5rem;
  font-size: 3rem;
  color: white;
}

.nos .conteudo{
  margin-top: 3rem;
  font-size: 2rem;
  color: white;
}

/* servicos */

.servicos{
  display: flex;
  height: 40rem;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-between;
  
}

.servicos .titulo {
  display: flex;
  justify-content: center;
  border-bottom: 2px black solid ;
  width: 25%;
  height: 3rem;
  font-size: 28px;
  margin-top: 2rem;
}

.servicos ul{
  display:flex;
  list-style: none;
  height: 89%;
  width: 95rem;
  color: #A4161A;
}

/* .servicos ul li{
  height: 10rem;
  width: 10rem;
  color: #A4161A;
} */

.grid {
  display: grid;

}



.grid-template-columns-3 {
	grid-template-columns: 1fr 2fr 1fr;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.grid-template-columns-3 i{
  font-size: 100px;
  margin-top: 50px;
}
.grid-template-columns-3 span.servico-texto1{
  font-size: 50px;
  margin-top: 10px;
  color: #F5F3F4;
}
.grid-template-columns-3 span.servico-texto2{
  font-size: 45px;
  margin-top: 10px;
  color: #F5F3F4;
}
.grid-template-columns-3 span.servico-texto3{
  font-size: 45px;
  margin-top: 10px;
  color: #F5F3F4;
}.grid-template-columns-3 span.servico-texto5{
  font-size: 50px;
  margin-top: 10px;
  color: #F5F3F4;
}
.item1 {
  text-align: center;
  color: #F5F3F4;
  width: 315px;
  height: 500px;
  margin: 5px;
  margin-left: 63%;
  background: #A4161A;
  font-size: 1.5em;
  border-radius: 7px;
}
.item2 {
  text-align: center;
  color: #F5F3F4;
  width: 324px;
  height: 250px;
  margin: 5px;
  margin-left: 201px;
  background: #660708;
  font-size: 1.5em;
  border-radius: 7px;
}
.item3 {
  text-align: center;
  color: #F5F3F4;
  width: 324px;
  height: 250px;
  margin: 5px;
  margin-left: -54%;
  background: #0B090A;
  font-size: 1.5em;
  border-radius: 7px;
}
.item5 {
  text-align: center;
  color: #F5F3F4;
  width: 500px;
  height: 245px;
  margin: 5px;
  margin-left: 202px;
  margin-top: -250px;
  background: #B1A7A6;
  font-size: 1.5em;
  border-radius: 7px;
}
.item6 {
  width: 179px;
  height: 245px;
  margin: 5px;
  margin-left: -32px;
  margin-top: -250px;
  background: #B1A7A6;
  font-size: 1.5em;
  border-radius: 7px;
}

/* CARDS */

.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    margin-top: 2%;
    padding: 0% 10% 10% 10%  ;
}

.cards__item {
  display: flex;
  padding: 1rem;
}

.cards h2{
  display: flex;
  justify-content: center;
  border-bottom: 2px black solid ;
  width: 20%;
  font-size: 30px;
  padding-bottom: 1%;
}
.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 15vw;
}
.card:hover .card__image {
  filter: contrast(100%);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  transition: all 1s ease;
}
.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}
.card__image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 10rem;
  border-top-right-radius: 10rem;
  border-bottom-left-radius: 10rem;
  border-bottom-right-radius: 10rem;
  filter: contrast(50%);
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  height: 31vh;
  width: 15vw;
}

.card__image--Lucas {
  background-image: url(../assets/Imgs/Lucas.jpg);
  transition: all 1s ease;
  background-position-y: 0px;
}
.card__image--river {
  background-image: url(../assets/Imgs/gui.jfif);
  transition: all 1s ease;
  
}
.card__image--Lari {
  background-image: url(../assets/Imgs/Lari.jfif);
  transition: all 1s ease;
}
.card__image--Lara {
  background-image: url(../assets/Imgs/Lara.jpg);
  transition: all 1s ease;
}
.card__image--record {
  background-image: url(../assets/Imgs/lee.jfif);
  transition: all 1s ease;
}

.card__image--vini {
  background-image: url(../assets/Imgs/Vinicius.jpg);
  transition: all 1s ease;
}
.card__title {
  margin-top: 4%;
  display: flex;
  justify-content: center;
  color: #A4161A;
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.card__text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}

/* carrossel */
.carrossel{
  width: 100%;
  height: 670px;
  overflow: hidden;
  box-shadow: 0px 5px 8px -4px #161A1D;
}
.carrossel li{
  position: relative;
  animation: slide 15s infinite ease-in-out;
  
}
.carrossel ul{
  width: 5715px;
  height: 250px;
  list-style: none;
  display: flex;
}
.carrossel img{
  width: 97rem;
  opacity: .10px;
  /* height: 1050; */
}

.carrossel .concerto{
  height: 50rem;
}

.navigation{
  position: absolute;
  bottom: -200px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
}
.bar{
  width: 300px;
  height: 5px;
  border: 2px solid #BA181B;
  border-radius: 30px;
  margin: 6px;
  cursor: pointer;
  transition: .4s;
}
.bar:hover{
  background-color: rgba(255, 255, 255, 0.801);
  
}
input{
  display: none;
}
.slide1:checked ˜ ul{
margin-left: 0%;
}
.slide2:checked ˜ ul{
  margin-left: -1905px;
}
.bar {
  position: relative;
  bottom: 145px;
}
@keyframes slide{
  0%{left: 0px;}
  20%{left: 0px;}

  30%{left: -1560px ;}
  50%{left: -1560px;}

  60%{left: -3120px;}
  90%{left: -3120px;}

  100%{left: 0px;}
}