
/* *,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  background-color: #f0f0f0;
}*/
body {
  /* color: #999999; */
  /* font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif; */
  /* font-style: normal; */
  /* font-weight: 400; */
  /* letter-spacing: 0; */
  padding: 0rem;
  margin: 0rem;
  /* text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  */
} 

/* servicos */

.servicos{
  display: flex;
  justify-content: center;

}

.servicos h2 {
  display: flex;
  justify-content: center;
  border-bottom: 2px black solid ;
  width: 25%;
  font-size: 28px;
  padding-bottom: 1%;
}

.boxs div{
  color: red;
  width: 20%;
  height: 20%;
}



/* CARDS */
img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
.btn {
  background-color: white;
  border: 1px solid #cccccc;
  color: #696969;
  padding: 0.5rem;
  text-transform: lowercase;
}
.btn--block {
  display: block;
  width: 100%;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    margin-top: 5%;
    padding: 0% 7% 7% 7%  ;

}
.cards__item {
  display: flex;
  padding: 1rem;
}
@media (min-width: 0rem) {
  .cards__item {
    width: 50%;
  }
}
@media (min-width: 0rem) {
  .cards__item {
    width: 23%;
  }
}

.cards h2{
  display: flex;
  justify-content: center;
  border-bottom: 2px black solid ;
  width: 20%;
  font-size: 30px;
  padding-bottom: 1%;
}
.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.card:hover .card__image {
  filter: contrast(90%);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  transition: all 0.5s ease;
}
.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}
.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 15rem;
  border-top-right-radius: 15rem;
  filter: contrast(50%);
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}
  
.card__image::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}
@media (min-width: 40rem) {
  .card__image::before {
    padding-top: 66.6%;
  }
}
.card__image--Lucas {
  background-image: url(../assets/Imgs/Lucas.jpg);
  transition: all 1s ease;
  background-position-y: 0px;
}
.card__image--river {
  background-image: url(../assets/Imgs/gui.jfif);
  transition: all 1s ease;
}
.card__image--Lari {
  background-image: url(../assets/Imgs/Lari.jfif);
  transition: all 1s ease;
}
.card__image--Lara {
  background-image: url(../assets/Imgs/Lara.jpg);
  transition: all 1s ease;
  background-position-y: 0;
}
.card__image--record {
  background-image: url(../assets/Imgs/lee.jfif);
  transition: all 1s ease;
}

.card__image--vini {
  background-image: url(../assets/Imgs/Vinicius.jpg);
  transition: all 1s ease;
}
.card__title {
  margin-top: 4%;
  display: flex;
  justify-content: center;
  color: #A4161A;
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.card__text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}